@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src: url("fonts/linea-basic-10.eot");
  src: url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: '"';
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  75% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  75% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveBoat {
  0% {
    transform: translateX(-10rem);
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: translateX(93vw);
    opacity: 1;
  }
  61% {
    transform: translateX(93vw);
    opacity: 0;
  }
  66% {
    transform: translateX(-20rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInUp {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0rem;
  }
}

::selection {
  background-color: rgba(11, 91, 83, 0.8);
  color: #fff;
}

body {
  color: #777;
  line-height: 1.7;
  font-size: 1rem;
}

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  color: #fff;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  animation: moveInLeft 2s;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 2rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  color: #fff;
  letter-spacing: 1.3rem;
  font-size: 2rem;
  margin-left: -2rem;
  animation: moveInRight 2s;
  padding: 0 -2rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
}

.heading-secondary {
  margin-top: 8rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #186910, #084640);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #5b5a5a;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: rgba(11, 91, 83, 0.8);
  color: #fff;
}
.btn--green::after {
  background-color: rgba(11, 91, 83, 0.8);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInUp 2s ease-out;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: rgba(11, 91, 83, 0.8);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgba(11, 91, 83, 0.8);
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: rgba(11, 91, 83, 0.8);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 56.25em) {
  .composition {
    margin-top: 4rem;
  }
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  left: 40%;
  top: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 10;
  }
}
.composition__photo--p3 {
  top: 12rem;
  left: 20%;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}
.composition__photo:hover {
  outline: 1.5rem solid #084640;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo:hover {
    outline: 1rem solid #084640;
    outline-offset: 1.5rem;
    transform: scale(1.05) translateY(-0.5rem);
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
@media only screen and (max-width: 56.25em) {
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1);
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 1.7rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.feature-box__heading {
  margin-top: -3rem;
}
.feature-box__text {
  font-size: 2rem;
}
@media only screen and (max-width: 75em) {
  .feature-box__text {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .feature-box__text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 75em) {
  .feature-box {
    height: 35rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .feature-box {
    margin-top: -4rem;
    height: 20rem;
  }
}
.feature-box__icon {
  display: inline-block;
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, rgba(11, 91, 83, 0.8), #084640);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1rem) scale(1.03);
}

.card {
  perspective: 120rem;
  -moz-perspective: 120rem;
  position: relative;
  height: 52rem;
}
@media only screen and (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
}
.card__side {
  background-color: rgb(255, 255, 255);
  height: 52rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 56.25em) {
  .card__side {
    position: relative;
    height: auto;
    box-shadow: none;
  }
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  text-align: center;
  transform: rotateY(180deg);
}
@media only screen and (max-width: 56.25em) {
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -5rem;
  }
}
.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #e8aa00, #dc6b2e);
}
.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #186910, #084640);
}
.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #278ae6, #5040e3);
}
.card__side--back-text {
  color: #fff;
  text-transform: uppercase;
  display: block;
}
.card__side--back-text-1 {
  margin-top: 15rem;
  font-size: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back-text-1 {
    margin-top: 8rem;
    font-size: 1.8rem;
  }
}
.card__side--back-text-2 {
  font-size: 4rem;
  font-weight: 100;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back-text-2 {
    font-size: 3.5rem;
  }
}
.card__side--back-btn {
  position: absolute;
  margin-top: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .card__side--back-btn {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 56.25em) {
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background-blend-mode: screen;
}
@media only screen and (max-width: 56.25em) {
  .card__picture {
    height: 20rem;
  }
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #e8aa00, #dc6b2e), url(../img/nat-5.webp);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #186910, #084640), url(../img/nat-6.webp);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #278ae6, #5040e3), url(../img/nat-7.webp);
}
.card__heading {
  text-align: right;
  position: absolute;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
@media only screen and (max-width: 56.25em) {
  .card__heading {
    font-size: 2.5rem;
    top: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__heading {
    font-size: 2.2rem;
    top: 8rem;
  }
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(232, 170, 0, 0.75), rgba(220, 107, 46, 0.75));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(24, 105, 16, 0.65), rgba(8, 70, 64, 0.65));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(39, 138, 230, 0.65), rgba(80, 64, 227, 0.65));
}
.card__details {
  padding: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .card__details {
    padding: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__details {
    padding: 1.5rem;
  }
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .card__details ul {
    width: 90%;
  }
}
.card__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .card__details li {
    font-size: 1.4rem;
    padding: 0.8rem;
  }
}
.card__details li:not(:last-child) {
  border-bottom: 1px solid #c8c8c8;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media only screen and (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
    transform: skewX(0deg);
  }
}
@media only screen and (max-width: 37.5em) {
  .story {
    width: 100%;
    padding: 3rem;
    padding-left: 5rem;
    transform: skewX(0deg);
  }
}
.story:hover .story__img {
  filter: blur(5px) brightness(80%);
  transform: translateX(-4rem) scale(1);
}
.story:hover .story__caption {
  opacity: 1;
  margin-top: 0rem;
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .story__shape {
    width: 12rem;
    height: 12rem;
    transform: translateX(-3rem) skewX(0deg);
  }
}
@media only screen and (max-width: 37.5em) {
  .story__shape {
    width: 10rem;
    height: 10rem;
    transform: translateX(-2rem) skewX(0deg);
  }
}
.story__img {
  transition: all 0.4s;
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
}
@media only screen and (max-width: 56.25em) {
  .story__img {
    transform: translateX(-3rem) scale(1.2);
  }
}
@media only screen and (max-width: 37.5em) {
  .story__img {
    transform: translateX(-2rem) scale(1.1);
  }
}
.story__text {
  transform: skewX(12deg);
}
@media only screen and (max-width: 56.25em) {
  .story__text {
    transform: skewX(0deg);
  }
}
@media only screen and (max-width: 37.5em) {
  .story__text {
    transform: skewX(0deg);
    font-size: 1.4rem;
  }
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  margin-top: 4rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 37.5em) {
  .story__caption {
    font-size: 1.4rem;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form {
  margin-top: -10rem;
}
@media only screen and (max-width: 56.25em) {
  .form {
    margin-top: -5rem;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .form__group:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
    width: 100%;
  }
}
.form__input::-webkit-input-placeholder {
  color: #5b5a5a;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(11, 91, 83, 0.8);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #dc6b2e;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .form__label {
    font-size: 1.1rem;
    margin-left: 1.5rem;
  }
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media only screen and (max-width: 37.5em) {
  .form__radio-group {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .form__radio-label {
    font-size: 1.4rem;
    padding-left: 4rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid rgba(11, 91, 83, 0.8);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
@media only screen and (max-width: 37.5em) {
  .form__radio-button {
    height: 2.5rem;
    width: 2.5rem;
    border: 4px solid rgba(11, 91, 83, 0.8);
  }
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(11, 91, 83, 0.8);
  opacity: 0;
  transition: all 0.2s;
}
@media only screen and (max-width: 37.5em) {
  .form__radio-button::after {
    height: 1rem;
    width: 1rem;
  }
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

/* Styles pour le popup */
.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  opacity: 0;
  transition: all 1s cubic-bezier(0.43, -0.26, 0.69, 1.21); /* Ajout de transitions */
  /* Autres styles restent les mêmes */
}
.popup.visible {
  opacity: 1;
}
.popup__content {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transition: all 1s cubic-bezier(0.43, -0.26, 0.69, 1.21);
}
@media only screen and (max-width: 56.25em) {
  .popup__content {
    width: 85%;
    display: block;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content {
    width: 95%;
    height: 80vh;
    overflow-y: scroll;
  }
}
.popup__content.visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__left {
  display: table-cell;
  width: 33.3333333333%;
}
@media only screen and (max-width: 56.25em) {
  .popup__left {
    display: block;
    width: 100%;
    height: 25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__left {
    display: block;
    width: 100%;
    height: 20rem;
  }
}
.popup__right {
  display: table-cell;
  vertical-align: middle;
  width: 66.6666666666%;
  padding: 3rem 6rem;
}
@media only screen and (max-width: 56.25em) {
  .popup__right {
    display: block;
    width: 100%;
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__right {
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
  }
}
.popup__img {
  display: block;
  height: 50%;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .popup__img {
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__img {
    height: 100%;
    object-fit: cover;
  }
}
.popup__text {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #c8c8c8;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #c8c8c8;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media only screen and (max-width: 56.25em) {
  .popup__text {
    -moz-column-count: 1;
    column-count: 1;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__text {
    -moz-column-count: 1;
    column-count: 1;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}
.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 0rem;
  right: 2.5rem;
  font-size: 5rem;
  font-weight: bolder;
  transform: rotate(45deg);
  text-decoration: none;
  color: #5b5a5a;
  transition: all 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .popup__close:link, .popup__close:visited {
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
  }
}
.popup__close:link:hover, .popup__close:visited:hover {
  color: #186910;
}

/* Utilisation de .hidden uniquement si nécessaire */
.hidden {
  display: none;
}

.responsive-unavailable {
  display: none;
}
@media only screen and (max-width: 59.375em) {
  .responsive-unavailable {
    display: block;
  }
}
.responsive-unavailable .header--unavailable {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.responsive-unavailable .header--unavailable .header__logo--box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  animation: none;
}
@media only screen and (max-width: 37.5em) {
  .responsive-unavailable .header--unavailable .header__logo--box {
    top: 2rem;
    left: 2rem;
  }
}
.responsive-unavailable .header--unavailable .header__text--box {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  max-width: 90%;
  margin: 0 auto;
}
.responsive-unavailable .header--unavailable .header__text--box .heading-primary--message {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 3rem;
  line-height: 1.6;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 37.5em) {
  .responsive-unavailable .header--unavailable .header__text--box .heading-primary--message {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 59.375em) {
  .main-content {
    display: none;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50%;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc((100% - 2 * 6rem) / 3 * 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 6rem * 2);
}

.footer {
  background-color: #323030;
  padding: 10rem 0;
  font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__navigation {
  border-top: 1px solid #c8c8c8;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__link:link, .footer__link:visited {
  color: #f1f1f1;
  background-color: #323030;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: rgba(11, 91, 83, 0.8);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #c8c8c8;
  padding-top: 2rem;
  width: 85%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(24, 105, 16, 0.8), rgba(8, 70, 64, 0.8)), url(../img/hero.webp);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media only screen and (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo--box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  animation: moveBoat 8s infinite;
}
@media only screen and (max-width: 56.25em) {
  .header__logo--box {
    margin-bottom: 6rem;
  }
}
.header__logo {
  height: 3rem;
}
.header__text--box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navigation__button {
  background-color: #fff;
  position: fixed;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#186910, #084640);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .navigation__item {
    margin: 0.8rem;
  }
}
.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.4s;
  display: inline-block;
}
@media only screen and (max-width: 37.5em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 2.5rem;
    padding: 0.8rem 1.5rem;
  }
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: rgba(11, 91, 83, 0.8);
  transform: translateX(0.4rem);
}
.navigation__checkbox {
  opacity: 0;
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #323030;
  display: inline-block;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-225deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(225deg);
}

.section-about {
  background-color: #f1f1f1;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media only screen and (max-width: 56.25em) {
  .section-about {
    padding: 2rem 0;
  }
}

.section-features {
  margin-top: -12vh;
  padding: 20rem 0;
  position: relative;
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(24, 105, 16, 0.8), rgba(8, 70, 64, 0.8)), url(../img/nat-4.webp);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}
@media only screen and (max-width: 56.25em) {
  .section-features {
    padding: 20rem 0;
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: rgba(241, 241, 241, 0.8);
  margin-top: -10vh;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  position: relative;
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #084640, #084640);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.webp");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}
@media only screen and (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.webp");
    background-size: cover;
    height: auto;
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
    padding: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .book__form {
    width: 100%;
    padding: 3rem;
  }
}

/*# sourceMappingURL=style.comp.css.map */
