//COLORS
$color-primary: #0b5b53cc;
$color-primary-light: #186910;
$color-primary-dark: #084640;

$color-secondary-light: #e8aa00;
$color-secondary-dark: #dc6b2e;

$color-tertiary-light: #278ae6;
$color-tertiary-dark: #5040e3;

$color-white: #fff;
$color-grey-light-1: #f1f1f1;
$color-grey-light-2: #c8c8c8;

$color-grey: #777;
$color-grey-dark: #5b5a5a;
$color-grey-dark-2: #323030;

$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;
